.contacts__wrapper {
  display: grid;
  justify-items: center;
  padding-top: 42px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 19px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop) {
    width: $content-desktop;
    margin-right: auto;
    margin-left: auto;
    padding-top: 74px;
    padding-right: 0;
    padding-bottom: 26px;
    padding-left: 0;
  }
}

.contacts__slogan {
  @include text(24px, 29px, 300, $main-dark);
  grid-column-start: 1;
  grid-column-end: -1;
  width: 230px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(40px, 54px, 300, $main-dark);
    width: 370px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop) {
    @include text(50px, 68px, 300, $main-dark);
    width: 470px;
    margin-bottom: 61px;
  }
}

.contacts__list {
  display: grid;
  row-gap: 17px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 41px;
    column-gap: 19px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts__item {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet) {
    row-gap: 5px;
  }

  @media (min-width: $desktop) {
    row-gap: 34px;
  }
}

.contacts__item:nth-child(3) {
  @media (max-width: $mobile-only) {
    padding-top: 5px;
  }

  @media (min-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: $desktop) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.contacts__title {
  @include text(18px, 25px, bold, $main-dark);
  margin: 0;
  padding: 0;
}

.contacts__text {
  @include text(24px, 33px, 300, $main-pink);
  width: 245px;
  margin: 0;
  padding: 0;
  text-align: center;
}
