.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15px;
  padding-top: 8px;
}

.copyright__text {
  @include text(14px, 18px, normal, $main-dark);
  margin: 0;
  padding: 0;
}
