.download {
  display: grid;
  justify-items: center;
  width: 100%;
  padding-bottom: 30px;
  background-color: $main-dark;

  @media (min-width: $tablet) {
    background: none;
  }
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 35px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 350px;
  list-style: none;

  @media (min-width: $tablet) {
    gap: 0;
    width: 300px;
    margin-bottom: 14px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.download__item {
  @media (min-width: $tablet) {
    margin: 18px;
    margin-top: 0;
  }
}

.download__item--main-item {
  width: 100%;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 74px;
  }
}

.download__link {
  @include text(18px, 18px, bold, $white);
  display: block;
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $desktop) {
    @include text(21px, 18px, bold, $white);
  }
}

.download__link--main-link {
  padding-top: 16px;
  padding-bottom: 15px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 39px;
  text-align: center;
}

.download__link--main-link:hover {
  color: $main-pink;
  background-color: $white;
}

.download__link--main-link:active {
  color: $main-pink-30;
}

.download__link--ios {
  width: 47px;
  height: 56px;
  background-image: url("../img/apple-logo.png");
}

.download__link--android {
  width: 43px;
  height: 56px;
  background-image: url("../img/android-logo.png");
}

.download__link--windows {
  width: 44px;
  height: 56px;
  background-image: url("../img/windows-logo.png");
}

.download__description {
  @include text(14px, 25px, 300, $white);
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 270px;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(18px, 24px, 300, $white);
    padding: 0;
    width: 310px;
  }
}
