.map {
  position: relative;
  overflow: hidden;
}

.map::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 33px;
  background-image: url("../img/map-triangle-top.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.map__iframe {
  z-index: 0;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    height: 374px;
  }

  @media (min-width: $desktop) {
    height: 502px;
  }
}
