.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  padding-top: 33px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 29px;
  }

  @media (min-width: $desktop) {
    width: $content-desktop;
    margin-right: auto;
    margin-left: auto;
    padding-top: 59px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__wrapper--catalog-page {
  padding-top: 40px;
}

.page-footer__logo {
  @media (min-width: $tablet) {
    margin-right: 40px;
  }

  @media (min-width: $desktop) {
    margin-right: 205px;
  }
}

.page-footer__logo:hover .page-footer__logo-letters {
  fill: $main-pink;
}

.page-footer__logo:active .page-footer__logo-letters {
  fill: $main-dark;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__copyright {
  @media (min-width: $tablet) {
    margin-left: auto;
  }
}
