.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  padding-top: 33px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: $content-desktop;
    margin-right: auto;
    margin-left: auto;
  }
}
