.page-header {
  @include text(18px, 32px, bold, $white);
  overflow: hidden;
  color: $white;
  background-color: $main-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/back-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.page-header--inner-page {
  background-size: 100% auto;
}

.page-header__top {
  background-color: $black-30;
  padding-bottom: 12px;

  @media (min-width: $tablet) {
    padding-bottom: 34px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 48px;
  }
}

.page-header__top--menu-open {
  padding-bottom: 0;
}

.page-header__top-wrapper {
  padding-top: 21px;

  @media (min-width: $tablet) {
    padding-top: 28px;
  }

  @media (min-width: $desktop) {
    display: flex;
    width: $content-desktop;
    margin-right: auto;
    margin-left: auto;
    padding-top: 44px;
  }
}

.page-header__top-wrapper--menu-open {
  background-color: $main-dark;

  @media (min-width: $desktop) {
    background: none;
  }
}

.page-header__top-wrapper--menu-open .page-header__logo-wrapper {
  padding-bottom: 16px;

  @media (min-width: $tablet) {
    padding-bottom: 31px;
  }
}

.page-header__logo-wrapper {
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    align-items: baseline;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding: 0;
  }
}

.page-header__logo-link {
  fill: $white;

  @media (min-width: $desktop) {
    position: absolute;
    top: -17px;
  }
}

.page-header__logo-link:hover {
  fill: $main-pink;
}

.page-header__logo-link:active {
  fill: $white;
  opacity: 0.3;
}

.page-header__logo-icon--mobile {
  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo-icon--tablet {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__logo-icon--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}

.page-header__toggle {
  display: block;
  height: min-content;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  fill: $white;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__toggle:hover {
  fill: $main-pink;
}

.page-header__toggle:active {
  opacity: 0.3;
}

.page-header__toggle-icon--hide {
  display: none;
}

.page-header__bottom {
  display: grid;
  justify-items: center;
}

.page-header__bottom--index-page {
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    margin-right: 15px;
    margin-left: 15px;
  }

  @media (min-width: $desktop) {
    justify-items: start;
    width: 950px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-header__bottom--index-page::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 110px;
  right: 0;
  width: 320px;
  height: 286px;
  background-image: url("../img/hand-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hand-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    top: 73px;
    right: -15px;
    width: 660px;
    height: 545px;
    background-image: url("../img/hand-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    top: 100px;
    right: -119px;
    width: 1050px;
    height: 645px;
    background-image: url("../img/hand-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-desktop@2x.png");
    }
  }
}

.page-header__bottom--index-page::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 142px;
  right: 105px;
  width: 111px;
  height: 197px;
  background-image: url("../img/hand-screen-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hand-screen-desktop@2x.jpg");
  }

  @media (min-width: $tablet) {
    top: 126px;
    right: 79px;
    width: 195px;
    height: 346px;
    background-image: url("../img/hand-screen-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-screen-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    top: 162px;
    right: 129px;
    width: 230px;
    height: 408px;
    background-image: url("../img/hand-screen-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-screen-desktop@2x.jpg");
    }
  }
}

.page-header__bottom-wrapper {
  display: grid;
  justify-items: center;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 44px;

  @media (min-width: $tablet) {
    padding-top: 67px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop) {
    padding-top: 59px;
    padding-bottom: 89px;
  }
}

.page-header__bottom-wrapper--index-page {
  padding-top: 21px;
  padding-bottom: 0;

  @media (min-width: $tablet) {
    width: 300px;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 83px;
  }

  @media (min-width: $desktop) {
    padding-top: 97px;
    padding-bottom: 96px;
  }
}

.page-header__bottom-wrapper--catalog-page {
  padding-bottom: 77px;

  @media (min-width: $tablet) {
    padding-bottom: 127px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 89px;
  }
}

.page-header__slogan {
  @include text(24px, 32px, 300, $white);
  width: 300px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(50px, 68px, 300, $white);
    width: 550px;
  }

  @media (min-width: $desktop) {
    width: 750px;
  }
}

.page-header__slogan--index-page {
  margin-bottom: 310px;

  @media (min-width: $tablet) {
    @include text(40px, 48px, 300, $white);
    width: 240px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    @include text(50px, 68px, 300, $white);
    margin-bottom: 37px;
  }
}

.page-header__slogan--catalog {
  @media (min-width: $desktop) {
    width: 400px;
  }
}
