.prices {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $light-grey;
}

.prices__wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  @media (min-width: $tablet) {
    width: 620px;
  }
  @media (min-width: $desktop) {
    width: $content-desktop;
    padding-right: 0;
    padding-left: 0;
  }
}

.prices__table {
  @include text(14px, 30px, normal, $main-dark);
  width: 840px;
  margin-bottom: 30px;
  border-collapse: collapse;
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.prices__table-column-head {
  padding-top: 19px;
  color: $white;
  background-color: $main-dark;
  border: 2px solid $main-dark;
  border-radius: 1px 0 0 0;
}

.prices__table-column-head--empty {
  background: none;
  display: none;
  border: none;
  @media (min-width: $tablet) {
    display: block;
  }
}

.prices__name {
  @include text(16px, 30px, bold, $white);
  margin: 0;
  padding: 0;
}

.prices__sum {
  @include text(18px, 30px, 300, $white);
  margin: 0;
  padding: 0;
}

.prices__row-name {
  display: none;
  background-color: $white;
  border: 2px solid $input-border-grey;
  border-radius: 1px 0 0 0;
  @media (min-width: $tablet) {
    @include text(14px, 30px, normal, $main-dark);
    display: table-cell;
    width: max-content;
  }
}

.prices__cell {
  position: relative;
  width: 280px;
  height: 59px;
  border: 2px solid $input-border-grey;
  border-radius: 1px 0 0 0;
  border-top: none;
  background-color: $white;
}

.prices__cell-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  padding-left: 20px;
  @media (min-width: $tablet) {
    justify-content: center;
  }
}

// cells

.prices__cell-name {
  @include text(14px, 30px, normal, $main-dark);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    display: none;
  }
}

.prices__is-available {
  display: block;
  width: 31px;
  height: 21px;
  font-size: 0;
  background-image: url("../img/prices-is-available-yes.svg");
}

.prices__is-available--not-available {
  width: 27px;
  height: 27px;
  background-image: url("../img/prices-is-available-no.svg");
}

.prices__toggles {
  @media (min-width: $tablet) {
    display: none;
  }
}
