.prices__wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 98px;
  padding-bottom: 46px;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    padding-top: 97px;
    padding-bottom: 28px;
  }
}

.prices__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  border-right: 100vw solid transparent;
  border-top: 6vw solid $white;
}

.prices__table-wrapper {
  display: flex;
  flex-direction: column;
  width: 281px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $mobile-only) {
    overflow: hidden;
  }

  @media (min-width: $tablet) {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    width: $content-desktop;
    padding-right: 0;
    padding-left: 0;
  }
}

.prices__table {
  @include text(14px, 30px, normal, $main-dark);
  width: 840px;
  margin-bottom: 41px;
  border-collapse: collapse;

  @media (max-width: $mobile-only) {
    transform: translateX(-279px);
  }

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.prices__table-column-head {
  padding-top: 12px;
  padding-bottom: 30px;
  color: $white;
  background-color: $main-dark;
  border: 2px solid $main-dark;
  border-radius: 1px 0 0 0;

  @media (max-width: $mobile-only) {
    border-bottom: none;
    border-color: $light-grey;
  }

  @media (min-width: $tablet) {
    width: 152px;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}

.prices__table-column-head:not(:last-child) {
  @media (min-width: $tablet) {
    border-right: 2px solid $light-grey;
  }
}

.prices__table-column-head--bestseller {
  position: relative;
}

.prices__table-column-head--bestseller::before {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  z-index: 10;
  width: 74px;
  height: 74px;
  background-image: url("../img/table-hit-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    top: -2px;
    left: 0;
    width: 61px;
    height: 61px;
  }
}

.prices__table-column-head--empty {
  background: none;
  display: none;
  border: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.prices__name {
  @include text(16px, 30px, bold, $white);
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    @include text(18px, 30px, bold, $white);
  }
}

.prices__bestseller {
  @include text(14px, 25px, normal, $white);
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 11px;
  transform: rotate(-45deg);
  display: block;
  text-transform: uppercase;
}

.prices__sum {
  @include text(18px, 26px, 300, $white);
  margin: 0;
  padding: 0;
}

.prices__row-name {
  display: none;
  background-color: $white;
  border: 2px solid $input-border-grey;
  border-radius: 1px 0 0 0;

  @media (min-width: $tablet) {
    @include text(14px, 30px, normal, $main-dark);
    display: table-cell;
    min-width: 153px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.prices__cell {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $input-border-grey;
  border-radius: 1px 0 0 0;
  border-top: none;
  background-color: $white;

  @media (min-width: $mobile-only) {
    width: 280px;
  }

  @media (min-width: $tablet) {
    min-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.prices__cell-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    justify-content: center;
  }
}

// cells

.prices__cell-name {
  @include text(14px, 30px, normal, $main-dark);
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    display: none;
  }
}

.prices__is-available {
  display: block;
  width: 31px;
  height: 21px;
  font-size: 0;
  background-image: url("../img/prices-is-available-yes.svg");
}

.prices__is-available--not-available {
  width: 27px;
  height: 27px;
  background-image: url("../img/prices-is-available-no.svg");
}

.prices__toggles {
  @media (min-width: $tablet) {
    display: none;
  }
}
