.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    padding-top: 91px;
    padding-bottom: 77px;
  }

  @media (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 88px;
    width: $content-desktop;
  }
}

.promo__slogan {
  @include text(14px, 30px, normal, $main-dark);
  width: 260px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(18px, 30px, normal, $main-dark);
    width: 460px;
  }

  @media (min-width: $desktop) {
    width: 580px;
  }
}

.promo__slogan-invite {
  display: block;

  @media (min-width: $tablet) {
    display: inline;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}
