.switcher__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-right: 11px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.switcher__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.switcher__button--current path {
  fill: $main-pink;
}
