.switcher__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-right: 11px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.switcher__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.switcher__button .switcher__icon {
  fill: $main-dark;
  opacity: 0.3;
}

.switcher__button:hover .switcher__icon {
  opacity: 0.5;
}

.switcher__button--current .switcher__icon {
  fill: $main-pink;
  opacity: 1;
}
