.user-photos__best-photo {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.user-photos__wrapper {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: $content-desktop;
  }
}

.user-photos__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-photos__slogan {
  @include text(14px, 30px, normal, $main-dark);
  width: 260px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(18px, 30px, normal, $main-dark);
    width: 460px;
  }

  @media (min-width: $desktop) {
    width: 580px;
  }
}

.user-photos__list {
  display: grid;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.user-photos__item {
  display: grid;
}

.user-photos__item--best-photo {
  grid-column-start: 1;
  grid-column-end: -1;
}

.user-photos__link {
  display: block;
}

.user-photos__image {
  display: block;
  width: 100%;
}

.user-photos__marker {
  @include text(12px, 24px, bold, $white);
  position: absolute;
  top: -100px;
  right: 20px;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: $main-pink;

  @media (min-width: $tablet) {
    // top: 50px;
  }
}

.user-photos__author-info {
  display: grid;
  margin: 0;
}

.user-photos__author-info--best-photo {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.user-photos__blockquote {
  margin: 0;
  padding: 25px 17px;
  background-color: $light-grey;
}

.user-photos__autor-name {
  @include text(14px, 24px, bold, $main-dark);
  margin: 0;
  padding: 0;
}

.user-photos__time {
  @include text(12px, 24px, 300, $main-dark);
  margin: 0;
  padding: 0;
}

.user-photos__text {
  @include text(14px, 24px, normal, $main-dark);
  margin: 0;
  padding: 0;
}
