.user-photos__best-photo {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 51px;
  }
}

.user-photos__wrapper {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: $content-desktop;
  }
}

.user-photos__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 42px;

  @media (min-width: $tablet) {
    padding-top: 65px;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 67px;
  }
}

.user-photos__slogan {
  @include text(14px, 30px, normal, $main-dark);
  width: 260px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include text(18px, 30px, normal, $main-dark);
    width: 460px;
  }

  @media (min-width: $desktop) {
    width: 580px;
  }
}

.user-photos__list {
  display: grid;
  gap: 21px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
  }
}

.user-photos__item {
  display: grid;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    min-height: 454px;
  }

  @media (min-width: $desktop) {
    min-height: 554px;
  }
}

.user-photos__link {
  display: block;
  background-color: $main-dark;

  @media (min-width: $tablet) {
    height: 300px;
  }

  @media (min-width: $desktop) {
    height: 400px;
  }
}

.user-photos__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet) {
    height: 100%;
  }
}

.user-photos__blockquote {
  margin: 0;
  padding: 18px 17px;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: auto;
    padding: 22px 30px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop) {
    padding-top: 23px;
    padding-left: 28px;
  }
}

.user-photos__autor-name {
  @include text(14px, 24px, bold, $main-dark);
  margin: 0;
  padding: 0;
}

.user-photos__time {
  @include text(12px, 24px, 300, $main-dark);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.user-photos__text {
  @include text(14px, 24px, normal, $main-dark);
  margin: 0;
  padding: 0;
}

.user-photos__likes {
  padding-right: 17px;
  padding-bottom: 19px;
  padding-left: 17px;

  @media (min-width: $tablet) {
    padding-right: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
  }

  @media (min-width: $tablet) {
    padding-bottom: 22px;
    padding-left: 27px;
  }
}
