// colors

$main-dark: #283645;
$main-dark-10: rgba(40, 54, 69, 0.1);
$promo-backgound: #1d2631;
$white: #ffffff;
$white-15: rgba(255, 255, 255, 0.15);
$white-30: rgba(255, 255, 255, 0.3);
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$light-grey: #f2f2f2;
$input-border-grey: #e5e5e5;
$submit-green: #2aab6d;
$submit-green-hover: #1c9b5e;
$main-pink: #d22856;
$main-pink-30: rgba(210, 40, 86, 0.3);
$modal-shadow: rgba(0, 1, 1, 0.15);

// Viewports

$mobile: 320px;
$mobile-only: 659px;
$tablet: 660px;
$desktop: 960px;

// Desktop content

$content-tablet: 620px;
$content-desktop: 940px;
