.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__list {
  margin: 0;
  margin-bottom: 17px ;
  padding: 0;
  list-style: none;
}

.reviews__blockquote {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 13px;
  align-items: center;
  padding-top: 27px;
}

.reviews__text {
  @include text(14px, 30px, normal, $main-dark);
  margin: 0;
  padding: 0;
  width: 280px;
  text-align: center;
}

.reviews__author-name {
  @include text(18px, 30px, bold, $black);
  margin: 0;
  padding: 0;
}

.reviews__about-author {
  display: none;
}
